body{
    background-color: black;
}

.container {
    margin-left: 20px;
    display: flex;
}

.container__data {
    max-width: 37%;
    width: 100%;
}

.text-location {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.text-loc {
    display: flex;
}


.position-res {
    display: flex;
    align-items: center;
}

.cont__time {
    display: flex;
    align-items: center;
}

.seeTime {
    color: rgb(104, 104, 179);
    font-weight: 600;
}

h1,
label,
p {
    color: azure;
}

h2 {
    color: rgb(101, 101, 156);
}

h1 {
    margin-left: 20px;
}

.bck-text {
    background-color: black;
    border-style:dashed;
    border-color: blue;
    border-width: 3px;
    padding: 10px;
    margin-top: 5px;
    color: aquamarine;
    outline: 0;
}

.style-btn {
    color: white;
    background-color: rgb(125, 169, 236);
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
}

.container__chat {
    padding-left: 50px;
    width: 80%;
}

.chatList__answer {
    border-bottom: 2px dashed rgb(113, 113, 155);
    width: 90%;

    display: flex;
    justify-content: space-between;
}

.answYN {
    display: flex;
    align-items: center;
}

.answName {
    padding-right: 20px;
}